<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>UDIO SIGNUP</title>
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700|Lato:400,100,300,700,900' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/s.css') }}">
</head>
<body>
	<div class="container">
		 
		<div class="login-box animated fadeInUp">
			<div class="box-header">
				<h2>User Registered</h2>
				<br>

				<h4><a href='/login'> Login here</a> </h4>
			</div>
			
		</div>
	</div>
</body>
</html>