body {
	background: url("../images/p3.jpg") no-repeat center center fixed;
	background-size: cover;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	font-weight:300;
	margin: 0;
	color:#666;
}

h1#title {
	font-family: 'Lato', sans-serif;
	font-weight:300;
	font-size: 3.2em;
	color: white;
	text-shadow: 0 0 10px rgba(0,0,0,0.8);
	margin: 0 auto;
	padding-top: 100px;
	max-width: 800px;
	text-align:center;
	position: relative;
	top: 0px;
}

h1#title span span {
	font-weight:300 ;
}

h2 {
	text-transform: uppercase;
	color: white;
	font-weight: 400;
	letter-spacing: 1px;
	font-size: 1.4em;
	line-height: 2.8em;
}

a {
	text-decoration:none;
	color: white;
}

a:hover {
	color: #2eb8b8;
}

p.small {
	font-size: 0.8em;
	margin: 20px 0 0;
}



/* Layout */
.container {
	margin: 0;
}

.top {
	margin: 0;
	padding: 0;
	width: 100%;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%); 
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 100%); 
	background: linear-gradient(to bottom,  rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99000000', endColorstr='#00000000',GradientType=0 ); 
}

.login-box {
	background-color: #100d0a;
	opacity: .5;
	max-width: 1000px;
	margin: 0 auto;
	position: relative;
	top: 20px;
	height:1250px;
	padding-bottom:30px;
	border-radius: 15px;
	box-shadow: 0 5px 50px rgba(0,0,0,0.4);
	text-align: center;
}

.login-box .box-header {
	background-color: #4e4356;
	opacity:1;
	margin-top: 0;
	border-radius: 15px 15px 0 0;
}
.labels{

	position: relative;
	float: left;
	margin-left:144px;
	width:30%;
	padding:20px
	margin:0px auto;
	position :absolute ;
	height:975px;
	text-transform: uppercase;
	float:left;
	left:0%;
	line-height: 200%;
	text-align: center;

}

 
.labelTop{
	position: relative;
	margin-top: 15px; 
}
 .labels{

	position:relative;
	float:left;
	padding:20px
	margin:0 auto;
	height:1250px;
	font-weight: 700;
	
}

.login-box input {
	max-width:600px;
	margin-right:70px;
	float:right; 
	width:430px;
	margin-bottom:20px;
	padding:10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: .9em;
	color:#000;
	background-color: white;
}

textarea
{
	height:150px;
	width:430px;
	margin-right: 70px;
	float:right;
	max-width:600px;
	margin-bottom:20px;
	padding:10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: .9em;
	color:#000;
	background-color: white;

}
.login-box input:focus {
	outline:thick;
	border-color:#660066;
	transition: 0.5s;
	color:black;
}

.login-box button {
	position: relative;
	margin-top:0px;
	border-radius: 2px;
	color: white;
	float:left;
	text-align: center;
	padding: 10px;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 1em;
	letter-spacing: 1px;
	background-color: #4e4356;
	cursor:pointer;
	outline: none;
	width: 150px;
	opacity: 1.0;

}

.login-box button:hover {
	opacity: 1;
	transition: 0.5s;
	background-color: #003333;
	color:white;
}
.selected {
	color:black!important;
	transition: 0.5s;
}

