body{
	margin: 0px;
	width: 1349px;
	height: 600px;
	background-image: url("img/1.jpg");
	background-repeat: repeat-y;
	background-attachment: fixed;
}


.wrap {
  width: 1364px;
  border: 1px solid #ccc;
  height: 679px;
  overflow: scroll;
  position: relative;
}
.header{

	position: absolute;
	width: 960px;
	height: 80px;
	left: 194px;
	top: 50px;
	background: #f8b295;
	border: 1px solid #f8b195;
	transition: width 0.01s;
}

.fix-header .header{

		position: fixed;
		width: 1346px;
		height: 80px;
		left: 0px;
		top: 0px;
		background: #f8b295;
		border: 1px solid #f8b195;
		-webkit-transition: width 2s;
		transition: width 0.1s;
}	


.content{
	position: absolute;
	width: 960px;
	height: 768px;
	top: 150px;
	left: 194px;
	border: 1px solid #c06c84;
	background: #c06c84;


}