<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>UDIO SIGNIN</title>
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700|Lato:400,100,300,700,900' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{ url_for ('static',filename='css/style.css') }}">
	<style >
	
body {	background: url(" {{url_for('static',filename='photo_bg.jpg') }}") no-repeat center center fixed;}
	</style>
</head>
<body>
	<div class="container">
		<div class="top">
			<h1 id="title" class="hidden">ARE YOU ONE OF <span id="logo">US?</br>WELCOME </span>BACK</h1>
		</div>
		<div class="login-box animated fadeInUp">
			<div class="box-header">
				<h2>Log In</h2>
			</div>
			<label for="username">Username</label>
			<br/>
			<input type="text" id="username" size="45">
			<br/>
			<label for="password">Password</label>
			<br/>
			<input type="password" id="password" size="45">
			<br/>
			<button type="submit"><a href="#signin">Sign In</button>
			<br/>
			<a href="#"><p class="small"><a href="#info">Forgot your password?</p></a>
		</div>
	</div>
</body>
</html>
